In [62]:
import pandas as pd
dataset=pd.read_csv("general_data.csv")
with pd.option_context('display.max_columns',40):
  print(dataset[['MonthlyIncome','YearsAtCompany','Age','DistanceFromHome','PercentSalaryHike','JobLevel','NumCompaniesWorked','TotalWorkingYears','YearsSinceLastPromotion','TrainingTimesLastYear']].describe())
dataset.drop_duplicates
dataset.dropna(inplace=True)
print(dataset.isnull())
print(dataset.dtypes)
print(dataset)

       MonthlyIncome  YearsAtCompany          Age  DistanceFromHome  \
count    4410.000000     4410.000000  4410.000000       4410.000000
mean    65029.312925        7.008163    36.923810          9.192517
std     47068.888559        6.125135     9.133301          8.105026
min     10090.000000        0.000000    18.000000          1.000000
25%     29110.000000        3.000000    30.000000          2.000000
50%     49190.000000        5.000000    36.000000          7.000000
75%     83800.000000        9.000000    43.000000         14.000000
max    199990.000000       40.000000    60.000000         29.000000

       PercentSalaryHike     JobLevel  NumCompaniesWorked  TotalWorkingYears  \
count        4410.000000  4410.000000         4391.000000        4401.000000
mean           15.209524     2.063946            2.694830          11.279936
std             3.659108     1.106689            2.498887           7.782222
min            11.000000     1.000000            0.000000           0.000000
25%            12.000000     1.000000            1.000000           6.000000
50%            14.000000     2.000000            2.000000          10.000000
75%            18.000000     3.000000            4.000000          15.000000
max            25.000000     5.000000            9.000000          40.000000

       YearsSinceLastPromotion  TrainingTimesLastYear
count              4410.000000            4410.000000
mean                  2.187755               2.799320
std                   3.221699               1.288978
min                   0.000000               0.000000
25%                   0.000000               2.000000
50%                   1.000000               3.000000
75%                   3.000000               3.000000
max                  15.000000               6.000000
        Age  Attrition  ...  YearsSinceLastPromotion  YearsWithCurrManager
0     False      False  ...                    False                 False
1     False      False  ...                    False                 False
2     False      False  ...                    False                 False
3     False      False  ...                    False                 False
4     False      False  ...                    False                 False
...     ...        ...  ...                      ...                   ...
4404  False      False  ...                    False                 False
4405  False      False  ...                    False                 False
4406  False      False  ...                    False                 False
4407  False      False  ...                    False                 False
4408  False      False  ...                    False                 False

[4382 rows x 24 columns]
Age                          int64
Attrition                   object
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeID                   int64
Gender                      object
JobLevel                     int64
JobRole                     object
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked         float64
Over18                      object
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object
      Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0      51        No  ...                       0                    0
1      31       Yes  ...                       1                    4
2      32        No  ...                       0                    3
3      38        No  ...                       7                    5
4      32        No  ...                       0                    4
...   ...       ...  ...                     ...                  ...
4404   29        No  ...                       1                    5
4405   42        No  ...                       0                    2
4406   29        No  ...                       0                    2
4407   25        No  ...                       1                    2
4408   42        No  ...                       7                    8

[4382 rows x 24 columns]

In [63]:

num_val={"Yes":1,"No":0}
dataset['Attrition']=dataset['Attrition'].apply(lambda x:num_val[x])
dataset

      Age  Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0      51          0  ...                       0                    0
1      31          1  ...                       1                    4
2      32          0  ...                       0                    3
3      38          0  ...                       7                    5
4      32          0  ...                       0                    4
...   ...        ...  ...                     ...                  ...
4404   29          0  ...                       1                    5
4405   42          0  ...                       0                    2
4406   29          0  ...                       0                    2
4407   25          0  ...                       1                    2
4408   42          0  ...                       7                    8

[4382 rows x 24 columns]

In [64]:
from scipy.stats import pearsonr
stats,p=pearsonr(dataset.Attrition,dataset.Age)
print(stats,p)
#Null Hypothesis:There is no significant difference in attrition with Age 
if(p<0.05):
  print("reject null hypothesis")
else:
  print("accept null hypothesis")

-0.1583986795409671 5.1265982193780794e-26
reject null hypothesis

In [65]:
stats,p=pearsonr(dataset.Attrition,dataset.DistanceFromHome)
print(stats,p)
#Null hypothesis: There is no significant difference in attrition with DistanceFromHome
if(p<0.05):
  print("reject null hypothesis")
else:
  print("accept null hypothesis")

-0.009448638515156291 0.5317715668018396
accept null hypothesis

In [66]:
stats,p=pearsonr(dataset.Attrition,dataset.PercentSalaryHike)
print(stats,p)
#Null hypothesis: There is no significant difference in attrition with PercentSalarayHike
if(p<0.05):
  print("reject null hypothesis")
else:
  print("accept null hypothesis")

0.033153037135466544 0.028192446935112747
reject null hypothesis

In [67]:
stats,p=pearsonr(dataset.Attrition,dataset.JobLevel)
print(stats,p)
#Null hypothesis: There is no significant difference in attrition with JobLevel
if(p<0.05):
  print("reject null hypothesis")
else:
  print("accept null hypothesis")

-0.012381569720790884 0.4125489150380087
accept null hypothesis

In [69]:
print(dataset['NumCompaniesWorked'].isnull().sum())
stats,p=pearsonr(dataset.Attrition,dataset.NumCompaniesWorked)
print(stats,p)
#Null hypothesis: There is no significant difference in attrition with NumCompaniesWorked

if(p<0.05):
  print("reject null hypothesis")
else:
  print("accept null hypothesis")

0
0.042830567244720834 0.004572057121622929
reject null hypothesis

In [70]:
stats,p=pearsonr(dataset.Attrition,dataset.JobLevel)
print(stats,p)
#Null hypothesis: There is no significant difference in attrition with JobLevel
if(p<0.05):
  print("reject null hypothesis")
else:
  print("accept null hypothesis")

-0.012381569720790884 0.4125489150380087
accept null hypothesis

In [71]:
stats,p=pearsonr(dataset.Attrition,dataset.NumCompaniesWorked)
print(stats,p)
#Null hypothesis: There is no significant difference in attrition with NumCompaniesWorked
if(p<0.05):
  print("reject null hypothesis")
else:
  print("accept null hypothesis")

0.042830567244720834 0.004572057121622929
reject null hypothesis

In [72]:
stats,p=pearsonr(dataset.Attrition,dataset.TotalWorkingYears)
print(stats,p)
#Null hypothesis: There is no significant difference in attrition with TotalWorkingYears
if(p<0.05):
  print("reject null hypothesis")
else:
  print("accept null hypothesis")

-0.16966991684723912 1.1645434967091854e-29
reject null hypothesis

In [73]:
stats,p=pearsonr(dataset.Attrition,dataset.YearsSinceLastPromotion)
print(stats,p)
#Null hypothesis: There is no significant difference in attrition with YearsSinceLastPromotion
if(p<0.05):
  print("reject null hypothesis")
else:
  print("accept null hypothesis")

-0.03142315056330998 0.03752293607394324
reject null hypothesis

In [74]:
stats,p=pearsonr(dataset.Attrition,dataset.TrainingTimesLastYear)
print(stats,p)
#Null hypothesis: There is no significant difference in attrition with TrainingTimeLastYear
if(p<0.05):
  print("reject null hypothesis")
else:
  print("accept null hypothesis")

-0.04758573693081715 0.0016276603635466457
reject null hypothesis