In [21]:
#Company name in email address
email="sathvik@yahoo.com"
len(email)
start=email.find('@')
end=email.find('.')
company=email[start+1:end]
print("The company name is",company)

The company name is yahoo

In [39]:
#sorting the list in alphabetical order
mylist=['bmw','volkswagen','ford','audi','ferrari']
mylist.sort()
print("sorted list",mylist)

sorted list ['audi', 'bmw', 'ferrari', 'ford', 'volkswagen']

**SETS**

Definition=A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [52]:
#Creating a Set
myset = {"apple", "banana", "cherry"}
print(myset)
#Accessing a set
myset = {"apple", "banana", "mango"}
for x in myset:
  print(x)
#To add one item to a set use the add() method.
myset.add("kiwi")
print(myset)
#Remove "kiwi" by using the remove() method:
myset.remove("kiwi")
print(myset)
#The update() method inserts the items in set2 into set1:
set2={"dragon","strawberry","orange"}
myset.update(set2)
print(myset)
#The clear() method empties the set:
myset.clear()
print(myset)

{'cherry', 'apple', 'banana'}
mango
apple
banana
{'mango', 'kiwi', 'apple', 'banana'}
{'mango', 'apple', 'banana'}
{'mango', 'apple', 'dragon', 'orange', 'strawberry', 'banana'}
set()

In [55]:
#missing values in python
mylist=[1,3,5,9,10,8]
for i in range(max(mylist)+1):
  if i not in mylist:
    print(i)

0
2
4
6
7

In [56]:
#removing duplicates from a list
mylist=[1,2,2,4,5,6,5,7,8,7,9]
res=[]
print("before removing duplicates",mylist)
for i in mylist:
  if i not in res:
    res.append(i)
print("after removing duplicates",res)

before removing duplicates [1, 2, 2, 4, 5, 6, 5, 7, 8, 7, 9]
after removing duplicates [1, 2, 4, 5, 6, 7, 8, 9]